@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-ExtraLight.woff2") format("woff2"),
    url("../fonts/Archivo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
    url("../fonts/Archivo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-ExtraBold.woff2") format("woff2"),
    url("../fonts/Archivo-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Medium.woff2") format("woff2"),
    url("../fonts/Archivo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"),
    url("../fonts/Archivo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rowdies";
  src: url("../fonts/Rowdies-Bold.woff2") format("woff2"),
    url("../fonts/Rowdies-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

