/* Authentication Pages (Login && Sign Up) Start */
.authentication-layout-wrapper {
  grid-template-columns: 54% 46%;
}

.authentication-layout-left {
  background-color: #0c1b29;
  padding: 8rem;
  min-height: 330px;
  background-image: url(../images/background/authentication-layout-left-bg.png);
}

.authentication-layout-left-content {
  max-width: 700px;
  grid-gap: var(--space-2xl);
  margin-bottom: 15px;
}

.authentication-layout-left-fortuner {
  max-width: 101.8rem;
}

.authentication-logo-wrapper {
  max-width: 21.8rem;
}

.authentication-layout-right {
  padding: 6.4rem;
  overflow-y: auto;
  height: 100vh;
  align-self: center;
}

.custom-google-btn {
  background-image: unset;
  background-color: #fcece9;
}

.custom-google-btn:hover,
.btn.btn-primary:active {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.authentication-layout-right-top {
  margin-bottom: 5.2rem;
  grid-gap: 3.2rem;
}

.authentication-layout-right-bottom {
  grid-gap: 3.2rem;
}

.authentication-layout-right-bottom-top {
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.authentication-layout-right-bottom-top hr {
  height: 1px;
  border-color: var(--clr-line-gray);
  opacity: 1;
  margin: 0;
}

.authentication-forgot-link {
  margin-top: var(--space-md);
}

.authentication-submit-button {
  margin-top: 3.2rem;
}

/* Authentication Pages (Login && Sign Up) End */

/* StyleSheets Page Design Start */
.color-boxs-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1.5rem;
}

.box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 80px;
}

/* StyleSheets Page Design End */

/* Home  Page Design Start */

.hero-wrapper {
  background-color: #102437;
  background-image: url(../images/background/hero-banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: calc(11.5rem + var(--header-height)) 0;
}

.hero-wrapper-top {
  max-width: 1279px;
  grid-gap: 4rem;
  padding-bottom: calc(11.5rem + var(--header-height) * 1.3);
}

.hero-wrapper-top .btn.btn-primary {
  box-shadow: 4px 12px 20px 0px rgba(var(--clr-rgb-black), 0.25);
}

.hero-wrapper-bottom {
  bottom: calc(-10% + var(--header-height) * -1);
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  margin: 0 auto;
}

/* About Us Seciotn Start */
.about-us {
  margin-top: 35.2rem;
}

.about-us-wrapper {
  border: 1px solid transparent;
  border-top-color: var(--clr-line-gray);
  border-bottom-color: var(--clr-line-gray);
}

.about-us-wrapper-left,
.about-us-wrapper-right {
  padding: 4.2rem 4.2rem 4rem 3.2rem;
}

.about-us-wrapper-right {
  max-width: 91.3rem;
  width: 100%;
  grid-gap: 3.2rem;
  border-left: 1px solid var(--clr-line-gray);
}

/* about-us Seciotn End */

/*  */
.select-car-model-section {
  max-width: 1920px;
  margin: var(--section-spacing) auto 0;
  background-image: linear-gradient(
    180deg,
    #eeeeee 0%,
    #eeeeee 54.5%,
    rgba(238, 238, 238, 0) 100%
  );
  padding-top: 9.8rem;
  padding-bottom: 4rem;
}

.select-car-back-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-car-back-wrapper h2 {
  font-size: calc(var(--text-3xl) * 6 + var(--text-xl));
  background: linear-gradient(
    180deg,
    #ffffff 12.49%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.SelectCarSwiper .swiper-slide {
  max-width: 131.3rem;
}

.SelectCarSwiper .swiper-button-next:after,
.SelectCarSwiper .swiper-rtl .swiper-button-prev:after,
.SelectCarSwiper .swiper-button-prev::after,
.SelectCarSwiper .swiper-rtl .swiper-button-next::after {
  content: "";
}

.SelectCarSwiper .swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
  transform: translate(0, -50%);
}

.select-car-swiper-pagination-button {
  top: 50%;
}

.select-car-swiper-pagination-button.select-car-swiper-prev {
  left: 0;
  transform: translate(100%, -50%);
}

.select-car-swiper-pagination-button.SelectCarSwiper-next {
  right: 0;
  transform: translate(-100%, -50%);
}

.explore-all-vehicles-wrapper {
  margin-top: 4.2rem;
}

/*  */

/* Vehicles Body Types Section Start */
.vehicles-body-types-wrapper {
  background-image: url(../images/background/vehicles-body-types.png);
  background-size: cover;
  background-color: #000715;
  background-repeat: no-repeat;
  padding: 8.2rem 12px;
}

.vehicles-body-types {
  grid-gap: 5.8rem;
}

.vehicles-body-types-left {
  grid-gap: 4.2rem;
  max-width: 48.2rem;
}

.vehicles-body-types-right {
  width: 70%;
}

.vehicles-body-truck-car-card-img {
  max-width: 385px;
  --bs-aspect-ratio: 124.678%;
}

/* Vehicles Body Types Section End */

/* FAQ's Start */
.faqs-accordion {
  margin-top: 4.2rem;
}

/* FAQ's End */
/* Home  Page Design End */

/* About us Page Design Start */
/* Your Journey Section Start */
.your-journey-wrapper {
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 3.5rem;
}

.your-journey-img-wrapper {
  max-width: 92.5rem;
  --bs-aspect-ratio: 61.9%;
}

.your-journey-right-img-wrapper {
  --bs-aspect-ratio: 110.25%;
}

.your-journey-right-img-wrapper img {
  object-position: top;
}

.your-journey-content-wrapper {
  grid-gap: 4.2rem;
}

.your-journey-img-content-wrapper {
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}

.your-journey-img-content-wrapper-icon {
  margin: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-orange);
  border: 2px solid var(--bs-white);
  max-width: 7.2rem;
  max-height: 7.2rem;
}

/* Your Journey Section End */

/* Our Extra Features Section Start */
.our-extra-features-wrapper {
  margin-top: 4.2rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-gap: 3.6rem;
}

.our-extra-features-wrapper-card-img {
  max-width: 11.5rem;
}

.our-extra-features-wrapper-card-img {
  object-fit: cover;
}

/* Our Extra Features Section End */
/* Video Section Start */
.video-demo-wrapper {
  --bs-aspect-ratio: 42.903%;
}

.video-demo-wrapper video {
  object-fit: cover;
}

.after-none.video-demo-wrapper::after {
  display: none;
}

.video-demo-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.8036 21.9287L16.6786 35.0537C16.495 35.2374 16.2611 35.3626 16.0063 35.4133C15.7516 35.464 15.4875 35.438 15.2476 35.3386C15.0076 35.2392 14.8026 35.0708 14.6584 34.8548C14.5142 34.6388 14.4373 34.3848 14.4375 34.1251V7.87506C14.4373 7.61532 14.5142 7.36136 14.6584 7.14533C14.8026 6.9293 15.0076 6.76092 15.2476 6.66149C15.4875 6.56206 15.7516 6.53607 16.0063 6.5868C16.2611 6.63753 16.495 6.7627 16.6786 6.94646L29.8036 20.0715C29.9256 20.1934 30.0224 20.3381 30.0885 20.4974C30.1545 20.6568 30.1885 20.8276 30.1885 21.0001C30.1885 21.1725 30.1545 21.3433 30.0885 21.5027C30.0224 21.662 29.9256 21.8068 29.8036 21.9287Z' fill='%23343330'/%3E%3C/svg%3E%0A");
  background-color: var(--clr-white);
  background-repeat: no-repeat;
  background-size: 4.2rem;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.4rem;
  height: 8.4rem;
  padding: var(--space-sm);
  border-radius: 50%;
  background-position: center;
}

/* Video Section End */
/* About us Page Design End */

/* Blog Page Design Start */
.blog-section .row {
  --bs-gutter-x: 20px;
}

.blog-wrapper {
  grid-gap: 4.2rem;
}

.blog-img-card {
  --bs-aspect-ratio: 36.2%;
  margin-bottom: 3.2rem;
}

.blog-title {
  margin-bottom: var(--space-md);
}

.blog-text-card {
  margin-bottom: var(--space-2xl);
}

.blog-avatar-img-card {
  width: 6rem;
  height: 6rem;
}

.blog-search-wrapper {
  gap: 4.2rem;
  z-index: 2;
}

.blog-post-wrapper,
.blog-categories-wrapper {
  padding: 4rem;
  border: 1px solid var(--clr-line-gray);
}

.blog-post-card-wrapper,
.blog-categories-card-wrapper {
  margin-top: 3.2rem;
}

.blog-post-card-wrapper {
  grid-gap: 3.2rem;
}

.blog-post-card-wrapper a:hover .blog-post-title {
  color: var(--clr-orange);
}

.blog-post-card {
  gap: var(--space-lg);
}

.blog-post-img-card {
  width: 80px;
  height: 80px;
}

.blog-post-title {
  margin-bottom: 5px;
}

.blog-categories-card-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-2xl);
}

.blog-categories-card {
  color: var(--clr-text-black);
  border: 1px solid transparent;
  padding: var(--space-2xl) calc(var(--space-sm) + 2px);
}

.blog-categories-card:hover {
  border-color: var(--clr-orange);
}

.pagination-wrapper {
  margin-top: 7rem;
}

/* Blog Page Design End */

/* Contact Us Page Start */
.information-wrapper {
  padding: 4rem;
}

.information-wrapper::after {
  content: "";
  position: absolute;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-image: linear-gradient(
    135.88deg,
    rgba(var(--clr-rgb-white), 0.4) 13.98%,
    rgba(var(--clr-rgb-white), 0) 86.84%
  );
  background-repeat: no-repeat;
  right: -5%;
  bottom: -14%;
  opacity: 0.5;
  z-index: -1;
}

.info-card-title {
  margin-bottom: var(--space-md);
}

.info-description {
  color: rgba(var(--clr-rgb-white), 0.6);
}

.contact-info-wrap {
  margin-top: 5.3rem;
}

.contact-info-card:not(:last-child) {
  padding-bottom: var(--space-2xl);
  margin-bottom: var(--space-2xl);
  border-bottom: 1px solid rgba(var(--clr-rgb-white), 0.16);
}

.info-icon {
  width: 28px;
  height: 28px;
}

.info-label {
  margin-bottom: var(--space-md);
}

.send-message-wrapper {
  padding: 4rem;
  border: 1px solid var(--clr-line-gray);
}

.send-message-title-card {
  margin-bottom: 5.3rem;
}

.contact-input-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.2rem 3.3rem;
}

.contact-textarea-card {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact-textarea-card .contact-icon-card {
  top: 18px;
  transform: unset;
}

/* Contact Us Page End */

/* Service Page Start */
.car-rental-img-card {
  --bs-aspect-ratio: 87%;
}

.car-rental-services-card-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem 20px;
}

.rental-service-title {
  margin-bottom: 6rem;
}

.car-rental-icon-card {
  width: 55px;
  height: 55px;
  margin-right: 4rem;
  padding: 1.2rem;
  background-color: rgba(var(--clr-rgb-orange), 0.1);
}

.truck-rental-section .car-rental-services-card-wrapper {
  grid-gap: 3rem 13rem;
}

/* Service Page End */

/* Car Details Page Start */
.car-details-section {
  padding-top: calc(var(--header-height) + 6.4rem);
}

.car-details-breadcrumb {
  margin-bottom: 3.2rem;
}

.car-details-swiper-img-card {
  --bs-aspect-ratio: 46%;
}

.car-details-swiper-img-card img {
  object-fit: cover;
}

.car-image-swiper-wrapper {
  padding: 0 18px;
}

.car-details-content-wrapper {
  margin-top: 4rem;
  gap: 4.2rem;
}

.car-model-card {
  padding-bottom: var(--space-2xl);
  margin-bottom: var(--space-2xl);
  border-bottom: 1px solid var(--clr-line-gray);
}

.car-model-feature:not(:last-child) {
  padding-right: var(--space-xl);
  margin-right: var(--space-xl);
}

.car-model-feature:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-line-gray);
}

.car-model-title {
  margin-bottom: var(--space-md);
}

.rating-icon {
  color: var(--clr-yellow);
}

.car-address-details-card {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.3rem;
  margin-bottom: 4.3rem;
}

.car-address {
  margin-top: var(--space-2xl);
}

.car-from-city {
  margin-bottom: var(--space-lg);
}

.car-distance {
  padding: 1.3rem 1.6rem;
  background-color: var(--clr-green);
}

.car-booking-date-time-title-card {
  margin-bottom: var(--space-2xl);
}

.car-booking-input-wrap {
  gap: 4.2rem;
}

.car-booking-input-card {
  width: 45%;
}

.car-location-title {
  margin-bottom: var(--space-md);
}

.car-location-wrapper .map-wrapper {
  margin-top: var(--space-2xl);
}

.cancellation-decription-card p:nth-child(2) {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.cancellation-label {
  padding: var(--space-md);
  background-color: var(--clr-seashell);
}

.about-car-wrapper {
  padding: 3.2rem;
  border: 1px solid var(--clr-line-gray);
}

.about-car-title-card {
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-lg);
  border-bottom: 1px solid var(--clr-line-gray);
}

.about-car-feature-card {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.4rem 3.3rem;
}

.agreement-policy-description {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.payment-gateway-wrapper {
  gap: var(--space-2xl);
}

.payment-bill-wrapper,
.payment-method-wrapper {
  border: 1px solid var(--clr-line-gray);
  padding: var(--space-2xl);
  gap: var(--space-xl);
}

.payment-coupon-card {
  padding: var(--space-lg);
  background-color: var(--clr-seashell);
  border: 2px dotted var(--clr-certain-peach);
  gap: var(--space-md);
}

.coupon-icon-card {
  width: 32px;
  height: 32px;
  border: 1px solid var(--clr-text-black);
}

.item-price-card {
  grid-gap: 14px;
  padding-bottom: var(--space-xl);
  margin-bottom: var(--space-xl);
  border-bottom: 1px solid var(--clr-line-gray);
}

.payment-method-types-wrap {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}

.payment-method-type-card {
  padding: 23px 10px;
  border: 1px solid var(--clr-line-gray);
}

.payment-method-type-img-card {
  max-width: 110px;
}

/* Car Details Page End */

/* Available Car Page Design Start */
.available-cars {
  margin-top: 4rem;
}

.available-cars-filter-card {
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  padding: var(--space-2xl);
}

.available-cars-search {
  padding: 4rem;
  border: 1px solid #e3e5e8;
}

.available-cars-wrapper-filter {
  z-index: 1;
}

.available-cars-wrapper {
  grid-template-columns: 25% 73%;
  grid-gap: var(--space-xl);
  justify-content: space-between;
}

.available-cars-wrapper .main-cards-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}

.available-cars-wrapper .card-wrapper {
  padding: 2rem;
}

.available-cars-right-wrapper {
  grid-gap: 4.6rem;
}

.available-cars-right-title {
  grid-gap: var(--space-xl);
}

.available-cars-right-wrapper-select {
  max-width: max-content;
}

/* Availbe Car Page Design End */
/* filter-drawer-btn css start */
.filter-drawer-btn {
  width: 35px;
  height: 35px;
  background-color: var(--clr-orange);
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 99;
}

/* filter-drawer-btn css end */

/* Available Car Page Design End */

/* Select Payment Method Page Start */
.select-payment-method-title {
  margin-bottom: var(--space-2xl);
}

.select-payment-method-types-wrapper {
  padding: 3.2rem;
  border: 1px solid var(--clr-line-gray);
}

.accepted-payment-method-wrap {
  gap: 4.2rem;
  padding-right: 3rem;
  border-right: 1px solid var(--clr-line-gray);
}

.accepted-payment-method-wrap::after {
  content: "or";
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-text-gray);
  background-color: var(--clr-gray);
}

.payment-type-card {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-md);
}

.payment-type-card .btn {
  --bs-btn-padding-y: var(--space-2xl);
  --bs-btn-padding-x: var(--space-lg);
}

.accepted-payment-title {
  margin-bottom: var(--space-xl);
}

.qr-code-scan-wrapper {
  padding-left: 3rem;
}

.qr-code-img-card {
  max-width: 200px;
}

.select-payment-btn {
  margin-top: 3.5rem;
}

.booking-details-card {
  border: 1px solid var(--clr-line-gray);
}

.booking-details-img-card {
  --bs-aspect-ratio: 32%;
}

.booking-details-content-card {
  padding: var(--space-2xl);
}

.booking-details-content-card .car-model-content-card,
.car-tracking-details-wrap {
  padding-bottom: var(--space-xl);
  margin-bottom: var(--space-xl);
  border-bottom: 1px solid var(--clr-line-gray);
}

.car-tracking-icon-card {
  width: 28px;
  height: 28px;
  background-color: var(--clr-gram-s-hair);
}

.car-tracking-address:not(:last-child) {
  margin-bottom: var(--space-2xl);
}

.car-tracking-address:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 131%;
  width: 2px;
  background-color: var(--clr-text-gray);
  left: 13px;
  top: 22px;
  z-index: -1;
}

.car-tracking-address.active:not(:last-child)::after {
  background-color: var(--clr-green);
}

.car-tracking-address.active .car-tracking-icon-card {
  background-color: var(--clr-light-green);
}

.car-tracking-address.active .contact-icon {
  color: var(--clr-green);
}

.car-tracking-details-wrap .cancellation-label {
  margin-top: var(--space-xl);
}

/* Select Payment Method Page End */
