:root {
  /* Fonts Family */
  --font-primary: "Archivo", Arial, sans-serif, system-ui, -apple-system;
  --font-secondary: "Rowdies", Arial, sans-serif, system-ui, -apple-system;

  /* Colors */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-orange: #ff7033;
  --clr-blue: #0c1b29;
  --clr-text-black: #1a1919;
  --clr-text-gray: #807e7d;
  --clr-line-gray: #dedbdb;
  --clr-gray: #fafafa;
  --clr-link: #a1a4a9;
  --clr-rgb-link: 161, 164, 169;
  --clr-seashell: #fff5f0;
  --clr-certain-peach: #f4bfa1;
  --clr-gram-s-hair: #f5f6f7;
  --clr-yellow: #ffbf00;
  --clr-green: #78a868;
  --clr-light-green: #eaf8e5;
  --orange-gradient: linear-gradient(180deg, #ff8d5c 0%, #ff5208 100%);

  /* RGB Colors */
  --clr-rgb-black: 0, 0, 0;
  --clr-rgb-white: 255, 255, 255;
  --clr-rgb-orange: 255, 112, 51;

  /* Header Height */
  --header-height: 100px;

  /* Global Font Size */
  --html: 10px;

  /* Font  Size */
  --text-5xl: 7.2rem;
  --text-4xl: 5.2rem;
  --text-3xl: 4.8rem;
  --text-xxl: 4rem;
  --text-xl: 3.2rem;
  --text-lg: 24px;
  --text-md: 20px;
  --text-s: 16px;
  --text-xs: 12px;

  /*  Spacing */
  --space-2xl: 24px;
  --space-xl: 20px;
  --space-lg: 16px;
  --space-md: 12px;
  --space-sm: 8px;
  --space-xs: 4px;

  /* Section Specing */
  --section-spacing: 12rem;

  /* Transtion */
  --transition-linear: all 0.3s linear;

  /* Boostrap Varible Overribe */
  --bs-body-font-family: var(--font-primary);
  --bs-body-font-size: var(--text-s);
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: black;
  --bs-body-bg: var(--clr-white);
  --bs-primary: var(--clr-primary);
  --bs-primary-rgb: var(--clr-primary-rgb);
}
